* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}

img {
    border: 0;
}

#container {
    position: relative;
    width: 1280px;
    height: 840px;
    margin: 0px auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1280px;
    height: 840px;
    z-index: 10;
    overflow: hidden;
}

#logo {
    width: 270px;
    height: auto;
    margin-bottom: 50px;
}

#copyright,
#KU {
    z-index: 10;
    color: black;
    text-shadow: none;
    font-size: 20px;
    margin-top: 20px;
}

#backButton {
    position: absolute;
    display: none;
    z-index: 20;
    cursor: pointer;
    color: white;
    font-size: 60px;
}

#pauseMenu {
    position: absolute;
    display: none;
    z-index: 20;
    cursor: pointer;
    color: white;
    font-size: 60px;
    top: 30px;
    left: 1180px;
}

canvas {
    background: #eee;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

#mainStart {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url("img/background/startBackground.jpg");
    /* background-size: 1280px 830px; */
    height: 840px;
    width: 1280px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#story,
#chooseHouse,
#settings,
#credit {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/background/settingBackground.png");
    height: 840px;
    width: 1280px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mainStart h1 {
    font-size: 24px;
    cursor: pointer;
}

#contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    cursor: pointer;
    margin: 10px 0;
}

.button h1 {
    font-size: 40px;
    color: black;
    margin: 0;
}

.button img {
    width: 200px;
    height: auto;
    margin-top: 0;
}

.menu h2 {
    display: block;
    font-size: 40px;
    color: white;
    text-align: center;
}

.menu h1 {
    display: block;
    width: 170px;
    font-size: 40px;
    cursor: pointer;
    color: white;
    text-align: center;
}

#skipButton {
    position: absolute;
    bottom: 30px;
    right: 35px;
    color: white;
    text-shadow: 4px 4px black;
    font-size: 40px;
    cursor: pointer;
}

/* 
#story {
    flex-direction: column;
    align-items: center;
} */

#story p {
    color: white;
    font-size: 36px;
    line-height: 2em;
}

#storyStart {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

#chooseHouse img {
    width: 220px;
    height: auto;
}

/* Lives 표시 */
/* #lives {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
} */

/* #skipButton:hover {
    background-color: gray;
    color: lightgray;
} */

/* #gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/background/gameOverRed.png");
    background-size: 1280px 830px;
} */