* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}

li {
    list-style: none;
}

img {
    border: 0;
}

#container {
    position: relative;
    width: 1280px;
    height: 840px;
    margin: 0px auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1280px;
    height: 840px;
    z-index: 10;
    overflow: hidden;
}

#logo {
    width: 270px;
    height: auto;
    margin-bottom: 50px;
}

#footInfo {
    margin-top: 60px;
}

#copyright,
#KU {
    z-index: 10;
    color: black;
    text-shadow: none;
    font-size: 20px;
    margin-top: 20px;
}

#backButton {
    position: absolute;
    display: none;
    z-index: 100;
    cursor: pointer;
    color: white;
}

#backButton span {
    font-size: 60px;
}

.material-symbols-outlined {
    font-size: 60px;
}

#skipButton {
    position: absolute;
    bottom: 30px;
    right: 35px;
    color: white;
    text-shadow: 4px 4px black;
    font-size: 40px;
    cursor: pointer;
}

#pauseMenu {
    position: absolute;
    display: none;
    z-index: 20;
    cursor: pointer;
    color: white;
    font-size: 60px;
    top: 30px;
    left: 1180px;
}

canvas {
    background: #eee;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

#mainStart {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url("img/background/startBackground.jpg");
    height: 840px;
    width: 1280px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#story,
#chooseHouse,
#settings,
#credit {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/background/settingBackground.png");
    height: 840px;
    width: 1280px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mainStart h1 {
    font-size: 24px;
    cursor: pointer;
    color: black;
    align-items: center;
    text-align: center;
}

#contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#contents p {
    font-size: 32px;
}

#mainStart.button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    cursor: pointer;
    margin: 10px 0;
}

#mainStart.button h1 {
    font-size: 40px;
    color: black;
    margin: 0;
}

.button img {
    width: 200px;
    height: auto;
    margin-top: 0;
}

#story {
    display: none;
}

#story h2 {
    font-size: 36px;
    color: white;
}

#story p {
    color: white;
    font-size: 28px;
    line-height: 2em;
}

#storyStart {
    margin-top: 10px;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    transition: background-color 0.2s;
}
#storyStart:hover {
    background-color: white;
    color: black;
}

#houseSelection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.house {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.house img {
    width: 200px;
    height: auto;
}

#houseSelection .house h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 10px;
    pointer-events: none;
}

.house:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

/* Select 버튼 스타일 */
#houseSelect {
    margin-top: 10px;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    transition: background-color 0.2s;
}

#houseSelect:hover {
    background-color: white;
    color: black;
}

/* detail 텍스트 */
.detail p {
    color: white;
    font-size: 24px;
    margin: 20px 0;
    text-shadow: 2px 2px 4px black;
}

#settings,
#credit {
    color: white;
    line-height: 2em;
}

#settings h2,
#credit h2 {
    font-size: 32px;
    margin-bottom: 20px;
    align-items: center;
}

.choose {
    width: 400px;
    text-align: left;
    display: flex;

    justify-content: space-between;
}

/* 스위치 버튼 스타일 */
.choose input[type="checkbox"] {
    position: relative;
    width: 50px;
    height: 24px;
    -webkit-appearance: none;
    background: #ccc;
    outline: none;
    border-radius: 24px;
    transition: 0.4s;
    cursor: pointer;
}

.choose input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background: white;
    transition: 0.4s;
}

.choose input[type="checkbox"]:checked {
    background: gray;
}

.choose input[type="checkbox"]:checked::before {
    transform: translateX(26px);
}

#changeTheme {
    cursor: pointer;
    user-select: none;
    background-color: #444;
    color: white;
    width: 400px;
    text-align: left;
    border-radius: 6px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

/* Lives 표시 */
#lives {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* #skipButton:hover {
    background-color: gray;
    color: lightgray;
} */