* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    border: 0;
}

#container {
    position: relative;
    width: 1280px;
    height: 830px;
    margin: 50px auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.menu {
    position: absolute;
    background-image: url("img/background/startBackground.jpg");
    background-size: cover;
    background-position: center;
    width: 840px;
    height: 600px;
    z-index: 10;
    overflow: hidden;
    display: none;
    align-items: center;
}

#logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 270px;
    height: auto;
}

#copyright {
    z-index: 10;
    margin: 20px;
    color: white;
    text-shadow: none;
    font-size: 20px;
}

#KU {
    color: white;
    font-size: 30px;
}

#backButton,
#pauseMenu {
    position: absolute;
    display: none;
    z-index: 20;
    cursor: pointer;
    color: white;
    font-size: 60px;
    top: 30px;
    left: 1180px;
}

#mainStart h1 {
    font-size: 24px;
    /* margin: 5px 0; */
    cursor: pointer;
}

/* 버튼 그룹 */
#mainStart div {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.menu h2 {
    display: block;
    font-size: 3em;
    color: white;
    text-shadow: -2px 0px green, 0px 2px green, 2px 0px green, 0px -2px green;
    text-align: center;
    margin-top: 200px;
}

.menu h1 {
    display: block;
    width: 170px;
    font-size: 2em;
    cursor: pointer;
    color: darkorange;
    text-align: center;
}

/* 버튼 요소 */
.botton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: none;
    border: none;
    cursor: pointer;
    width: 220px;
    height: 60px;
    padding: 10px 15px;
    transition: transform 0.2s ease-in-out;
}

.botton:hover {
    transform: scale(1.05);
}

/* 빗자루 이미지 */
.botton img {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

#startButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 60px;
    color: white;
    text-shadow: 4px 4px black;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

#startButton:hover {
    background-color: gray;
    color: lightgray;
}

#skipButton {
    position: absolute;
    bottom: 30px;
    right: 35px;
    color: white;
    text-shadow: 4px 4px black;
    font-size: 40px;
    cursor: pointer;
}

#skipButton:hover {
    background-color: gray;
    color: lightgray;
}

#gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/background/gameOverRed.png");
    background-size: 1280px 830px;
}